// import the file of global scss
@import '../../../styles/global.scss';

.container{
    width: 90%;
    height: 100vh;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: auto;
    margin: 0 auto;
    &_other_posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
button{
    @include btn_basic($blue, $white, true, "medium");
}